<!DOCTYPE html>
<html>
<head>
   <title>Mental Health Prediction</title>
<style>
body {
   background-image: url('https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
 }
h1{text-align: center;}

</style>
</head>
<body >
    
<center>
   {{ y  }}   <br>
   <br>
   <form action="/index.html" method="POST">
   <button type="button">Predict</button> <br>
   </form>
   <br>
   <form action="/" method="GET">
   <button type="button">Home</button>
    </form>
</center>

</body>
</html>










